<h1 class="cover-heading">Fonteinkerk Kiekeboekzoekhoek.</h1>
<p class="lead">Even snel iemand opzoeken in het Kiekeboek. Bookmark en zet hem als app op je tablet en telefoon.</p>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<form class="form-inline">
				<div class="form-group">
			    	<input type="text" class="form-control" ng-model="keywords" placeholder="Zoeken">
					<button type="submit" class="form-control" ng-click="search()">Zoek</button>
				</div>
			</form>
		</div>
	</div>
	<div>Keywords: {{keywords}}</div>
	<div>persons: {{persons}}</div>
	<div class="row">
	<div class="col-12">
		<ul>
			<li ng-repeat="person in persons">
				<img src="{{person.imgUrl}}"><a href="#">{{person.name}}</a>
			</li>
		</ul>
	</div>
</div>
</div>